.big{
  font-size: 14px;
  font-weight: 500;
}

.little{
  font-size: 10px;
  font-weight: 300;
}

.thNumber{
  width: 30px;
}

.name{
    width: 20%;
}

.unit{
    text-align: center !important;
    width: 50px;
}

.price{
    text-align: center !important;
}