.table {
  border-collapse: collapse;
  width: 100%;
}
.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table td span {
  color: blue;
  border-bottom: none;
  font-size: 11px;
}

.table td div {
  text-align: center;
  
  /* border-bottom: 1px solid #ddd;; */
}
.noData {
  color: red;
  padding: 20px;
}
.dimensions {
  margin-top: 10px;
  font-style: italic;
}